$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* Following styles extracted from basic demo */

.demo-basic {
  text-align: center;
}

.block-grid {
  display: block;
  overflow: hidden;
  padding: 0;
}

.block-grid.four-up {
  margin: 0 -10px;
}

.nice-row {
  width: 1000px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}

.nice-columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}